#root {
    height: 80vh;
}

.row {
    height: 70vh;
    width: 1200px;
}

.stylist-image-hero {
    width: 350px;
    height: 350px;
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
